h1{
    color:grey;
}

#hd1{
    color: grey;
}


/*#plant_div{*/
/*    background-color: */
/*}*/

#plant_div:nth-of-type(odd) {
    background-color:green;
}

#plant_div:nth-of-type(even) {
    background-color:orange;
}